.navbar {
  justify-content: space-between;
}
a {
  padding-right: 1rem;
  font-weight: 300;
  font-size: medium;
  color: white;
  text-decoration: unset;
}
.container {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
