<mat-card-title *ngIf="!editFormToggle; else editRecordTemplate">New Record</mat-card-title>
<ng-template #editRecordTemplate>
    <mat-card-title>Edit Record</mat-card-title>
</ng-template>

<mat-card-content>
    <form [formGroup]="aForm" #formDirective="ngForm"
        (ngSubmit)="!editFormToggle? addRecord(aForm.value, formDirective): editRecord(aForm.value)">

        <mat-form-field>
            <input matInput placeholder="Phone" formControlName="phone">
        </mat-form-field>

        <mat-form-field class="custom-textarea">
            <textarea matInput placeholder="Description" rows="5" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field class="custom-textarea">
            <textarea matInput placeholder="Internal Title" rows="5" formControlName="internal"></textarea>
        </mat-form-field>

        <mat-form-field class="custom-textarea">
            <textarea matInput placeholder="External Title" rows="5" formControlName="external"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary">Save</button>
    </form>
</mat-card-content>