<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <form [formGroup]='rForm' (ngSubmit)="saveEdition(rForm.value)">
        <ng-container matColumnDef="{{col}}" *ngFor="let col of displayedColumns">

            <th mat-header-cell *matHeaderCellDef>
                <span *ngIf="col !=='$$edit'">
                    {{col}}
                </span>
            </th>

            <td mat-cell *matCellDef="let record">

                <div *ngIf="!record.isEdit">
                    <div *ngIf="col === '$$edit'; spanHeader">
                        <button (click)="record.isEdit = !record.isEdit">Edit</button>
                        <button (click)="delete(record)">Delete</button>
                    </div>
                    <span #spanHeader>
                        {{record[col]}}
                    </span>
                </div>

                <div *ngIf="record.isEdit">
                    <div *ngIf="col === '$$edit'; else dataField">
                        <button (click)="record.isEdit = !record.isEdit; rowClicked(record)">Save</button>
                    </div>

                    <ng-template #dataField>
                        <mat-form-field>
                            <mat-label>{{col}}</mat-label>
                            <input type="text" matInput value="{{record[col]}}">
                        </mat-form-field>
                    </ng-template>
                </div>

            </td>
        </ng-container>
    </form>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>




<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let record"> {{record.phoneNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let record"> {{record.description}} </td>
    </ng-container>

    <ng-container matColumnDef="internalTitle">
        <th mat-header-cell *matHeaderCellDef> Internal Title </th>
        <td mat-cell *matCellDef="let record"> {{record.internalTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="externalTitle">
        <th mat-header-cell *matHeaderCellDef> External Title </th>
        <td mat-cell *matCellDef="let record"> {{record.externalTitle}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table> -->