<div class="grid-container" *ngIf="logedInUser">
    <mat-grid-list cols="3" rowHeight="280px">
        <mat-grid-tile rowspan="2" colspan="2">
            <div class="dashboard-card">

                <app-records-list></app-records-list>

            </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2" colspan="1">
            <mat-card class="dashboard-card">

                <app-add-record></app-add-record>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>

<div class="card-wrapper">
    <mat-card>
        <mat-card-content *ngIf="!logedInUser">Please sign in</mat-card-content>
    </mat-card>
</div>